<div class="container">
  <div class="row mt-3">
    <div class="col-md-8 mx-auto">
      <ul>
        <% @messages.each do |message| %>
          <% if message.body %>
            <li>
              <h4><%= message.user.username %></h4>
              <p><%= message.body %> | <small class="mark">Created about <%= time_ago_in_words(message.created_at) %> ago</small></p>
            </li>
          <% end %>
        <% end %>
      </ul>
      <hr>
      <h6>New Message: </h6>
      <%= form_for [@conversation, @message] do |f| %>
        <div class="field">
          <%= f.text_area :body, placeholder: "Your message", class:'form-control' %>
        </div>
      
        <%= f.submit "Send" %>
      <% end %>
    </div>
  </div>
</div>