<div class="inbox-home py-4">
  <div class="container inbox-sec py-2 mb-1">
    <h3 class="mb-0">Inbox Messages</h3>
  </div>
  <div class="container inbox-sec py-3">
    <% @conversations.each do |conversation| %>
      <table class="mb-2">
        <tr>
          <td class="pr-3">
            <% if conversation.recipient(current_user).avatar.present? %>
              <%= image_tag(conversation.recipient(current_user).avatar.url, class:'user-dmy') %>
            <% else %>
              <img src="/user-1.png" class="user-dmy">
            <% end %>
          </td>
          <td>
            <p class="mb-0 mt-1">
             
                <%= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation) %>
                <% if !conversation.unread_message_count(current_user).zero? %>
                  (<%= conversation.unread_message_count(current_user) %>)
                <% end %>
             
            </p>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="container inbox-sec py-2 mt-1">
    <% if current_user.admin == true %>
      <h3 class="mb-0">List of All the Users</h3>
    <% else %>
      <h3 class="mb-0">Contact Admin</h3>
    <% end %>
    <div class="container inbox-sec py-3">
      <% if current_user.admin == true %>
        <% @users.each do |user| %>
          <table>
            <tr>
              <td class="pr-3">
                <%= link_to user.username, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %>
              </td>
            </tr>
          </table>
        <% end %>
      <% else %>
        <% @adminusers.each do |user| %>
          <%= link_to user.username, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>