<div class="container mt-5">
	<nav>
    <div class="nav nav-tabs nav-fill cmpg-tab" id="nav-tab" role="tablist">
      <a class="nav-item nav-link cmpgn-tb active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fas fa-user"></i> Profile</a>
      <a class="nav-item nav-link cmpgn-tb" id="nav-invoice-tab" data-toggle="tab" href="#nav-invoice" role="tab" aria-controls="nav-invoice" aria-selected="false"><i class="fas fa-money-check-alt"></i> Payment Settings</a>
    </div>
	</nav>
</div>
<div class="container mt-3">
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row">
        <div class="col-lg-2 mb-2">
          <div class="profile-show">
            <% if @user.avatar.present? %>
              <%= image_tag(@user.avatar.url, class:"img-fluid" )%>
            <% else %>
              <img src="/dum-prf-1.png" class="img-fluid">
            <% end %>
          </div>
        </div>
        <div class="col-lg-6">
          <h2><%= @user.username %></h2>
          <i class="fas fa-envelope-square prfl-eml-icn"></i><%= @user.email %><br>
          <i class="fas fa-globe prfl-web-icn"></i>
          <% if @user.websites.present? %>
            <span><%= @user.websites %></span><br>
          <% else %>
            <span class="text-muted">No Websites Available</span><br>
          <% end %>
          <i class="fas fa-address-book prfl-web-icn"></i>
          <% if @user.contact.present? %>
            <span>Contact: <%= @user.contact %></span><br>
          <% else %>
            <span class="text-muted">No Contacts Available</span><br>
          <% end %>
          <i class="fas fa-info-circle prfl-web-icn"></i>
          <% if @user.biography.present? %>
            <span><%= @user.biography.truncate(50) %></span><br>
          <% else %>
            <span class="text-muted">No Biography Available</span><br>
          <% end %>
        </div>
        <div class="col-lg-4">
          <div class="profile-shw-membr">
            <i class="fas fa-history text-muted"></i>
            <span class="text-muted">Member For, <%= time_ago_in_words(@user.created_at) %></span><br>
            <i class="fas fa-calculator text-muted"></i>
            <span class="text-muted"> Total Campaigns:</span> <span class="badge badge-primary"><%= @user.campaigns.count %></span><br>
            <i class="far fa-life-ring text-muted"></i>
            <span class="text-muted"> Backed Campaigns:</span> <span class="badge badge-primary"><%= @user.backers.count %></span><br>
            <i class="fas fa-trophy text-muted"></i>
            <span class="text-muted"> Champions:</span> <span class="badge badge-primary"><%= current_user.userprojectchampioncount %></span>
          </div>
          <div>
            <%= link_to "Update Profile", edit_user_registration_path, class:"btn btn-primary btn-sm my-3 float-right" %>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <h3>Your Badges</h3>
          <% if @user.userbadges.count > 0 %>
            <% @user.userbadges.each do |userbadge| %>
              <small class="badge badge-warning"><%= userbadge.badge.name %></small>
            <% end %>
          <% else %>
            <small class="mark">You Don't have any Badge</small>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3>My Campaigns</h3>
          <% if current_user.campaigns.count == 0 %>
            <small class="mark">You Don't have any Projects! Want to Create?</small>
            <%= link_to 'Start a Project', new_campaign_path, class:'btn btn-primary btn-sm' %>
          <% else %>
            <%= link_to "Show My Campaigns", campaigns_path, class:'btn btn-primary btn-sm'  %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3>Your Activity</h3>
          <%= link_to "Go to your Dashboard", dashboard_path, class:'btn btn-primary btn-sm'  %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="nav-invoice" role="tabpanel" aria-labelledby="nav-invoice-tab">
      <div class="card">
        <% if @user.backers.count == 0 %>
          <small class="mark">No Payments for Backers, You Have not Backed any Campaign</small>
        <% else %>
          <% @user.backers.each do |backer| %>
            <h5 class="card-header">Backer Payment Invoices Details</h5>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Invoice Amount</th>
                    <th>Corresponding Campaign</th>
                    <th>Invoice Created At</th>
                  </tr>
                </thead>
                <tbody>
                  <% backer.backerinvoices.each do |invoice| %>
                    <tr>
                      <td>$<%= invoice.amount %></td>
                      <td><%= invoice.backer.campaign.title %></td>
                      <% @time = invoice.created_at.to_s %>
                      <td><%= Date.parse(@time) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="card mt-2">
        <% if @user.projectchampions.count == 0 %>
          <small class="mark">No Payments for ProjectChampions, You are not the ProjectChampion of any Campaign</small>
        <% else %>
          <h5 class="card-header">ProjectChampion Payment Details</h5>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Invoice Amount</th>
                  <th>Corresponding Campaign</th>
                  <th>Invoice Created At</th>
                </tr>
              </thead>
              <tbody>
                <% @user.projectchampions.each do |projectchampion| %>
                  <tr>
                    <td>$<%= projectchampion.projectchampionpaidamount %></td>
                    <td><%= projectchampion.campaign.title %></td>
                    <% @time = projectchampion.created_at.to_s %>
                    <td><%= Date.parse(@time) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>