<div class="container mt-3">
  <div class="row">
    <div class="col-lg-2 mb-2">
      <div class="profile-show">
        <% if @user.avatar.present? %>
          <%= image_tag(@user.avatar.url, class:"img-fluid" )%>
        <% else %>
          <img src="/dum-prf-1.png" class="img-fluid">
        <% end %>
      </div>
    </div>
    <div class="col-lg-7">
      <h2><%= @user.username %></h2>
      <i class="fas fa-envelope-square prfl-eml-icn"></i><%= @user.email %>
      <hr class="my-1">
      <i class="fas fa-globe prfl-web-icn"></i>
      <% if @user.websites.present? %>
        <span><%= @user.websites %></span>
      <% else %>
        <span class="text-muted">No Websites Available</span>
      <% end %>
      <hr class="my-1">
      <i class="fas fa-address-book prfl-web-icn"></i>
      <% if @user.contact.present? %>
        <span>Contact: <%= @user.contact %></span>
      <% else %>
        <span class="text-muted">No Contacts Available</span>
      <% end %>
      <hr class="my-1">
      <i class="fas fa-info-circle prfl-web-icn"></i>
      <% if @user.biography.present? %>
        <span><%= @user.biography.truncate(50) %></span>
      <% else %>
        <span class="text-muted">No Biography Available</span>
      <% end %>
      <hr class="my-1">
    </div>
    <div class="col-lg-3">
      <div class="profile-shw-membr">
        <i class="fas fa-history text-muted"></i>
        <small class="text-muted">Member For, <%= time_ago_in_words(@user.created_at) %></small><br>
        <i class="fas fa-calculator text-muted"></i>
        <small class="text-muted"> Total Campaigns:</small> <span class="badge badge-primary"><%= @user.campaigns.count %></span><br>
        <i class="far fa-life-ring text-muted"></i>
        <small class="text-muted"> Backed Campaigns:</small> <span class="badge badge-primary"><%= @user.backers.count %></span><br>
        <i class="fas fa-trophy text-muted"></i>
        <small class="text-muted"> Champions:</small> <span class="badge badge-primary"><%= @user.projectchampions.count %></span>
      </div>
    </div>
  </div>
</div>