<div class="container-fluid mt-3 home-container">
  <h2 class="mb-3 text-muted">FEATURED CAMPAIGNS</h2>  
  <div class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-lg-4 mb-4">
        <%= link_to campaign_path(campaign), class:'link-dec' do %>
          <div class="home-top-cmpgn" style="background:url('<%= campaign.image.url %>')"></div>
          <div class="hding-brdr mt-3">
            <div class="home-cmpgn-title">
              <h3 class="ml-3"><%= campaign.title.truncate(50) %></h3>
            </div>
            <div class="ml-3">
              <p style="color: #000"><%= campaign.description.truncate(260) %></p>
              <hr>
            </div>
            <div class="row ml-3">
              <div class="col-3">
                <center class="ml-3"><small class="badge badge-warning"><i class="fas fa-award"></i> FEATURED</small></center>
              </div>
              <div class="col-9">
                <center><small class="text-muted">By: <%= campaign.user.username  %></small> | <small class="text-muted"><%= campaign.created_at.strftime("%b %d, %Y") %></small></center>
              </div>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
</div>