<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% @categories.each do |category| %>
        <ul class="ctgry-tp">
          <%= link_to category_path(category) do %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<hr class="mt-1">
<div class="container-fluid mt-3 home-container">
  <h2 class="mb-3">FEATURED CAMPAIGNS</h2>  
  <div class="row">
    <% @featuredcampaigns.each do |campaign| %>
      <div class="col-md-6 mb-4">
        <%= link_to campaign_path(campaign), class:'link-dec' do %>
          <div class="home-top-cmpgn" style="background:url('<%= campaign.image.url %>')"></div>
          <div class="hding-brdr mt-3">
            <div class="home-cmpgn-title">
              <h3 class="ml-3"><%= campaign.title.truncate(50) %></h3>
            </div>
            <div class="ml-3">
              <p style="color: #000"><%= campaign.description.truncate(260) %></p>
              <hr>
            </div>
            <div class="row">
              <div class="col-3">
                <center class="ml-3"><small class="badge badge-warning"><i class="fas fa-award"></i> FEATURED</small></center>
              </div>
              <div class="col-5">
               <center> <small class="text-muted">By: <%= campaign.user.username  %></small></center>
              </div>
              <div class="col-4">
                <center><small class="text-muted"><%= campaign.created_at.strftime("%b %d, %Y") %></small></center>
              </div>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
  <center><%= link_to "More Featured Campaigns", featuredcampaigns_path, class:'btn btn-primary btn-sm' %></center>
</div>
<hr>
<div class="container-fluid mt-3 home-container">
  <h2 class="mb-3">OTHER CAMPAIGNS</h2>  
  <div class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <%= link_to campaign_path(campaign), class:'link-dec' do %>
          <div class="home-cmpgn-img" style="background:url('<%= campaign.image.url %>')"></div>
          <div class="hding-brdr mt-3">
            <div class="home-cmpgn-title">
              <h3 class="ml-3"><%= campaign.title.truncate(50) %></h3>
            </div>
            <div class="ml-3">
              <div class="home-cmpgn-othr">
                <p class="text-muted"><%= campaign.description.truncate(65) %></p>
              </div>
              <hr>
            </div>
            <div class="row ml-3">
              <div class="mr-3">
                <small><span class="text-muted">By: <%= campaign.user.username %></span></small>
              </div>
              <div>
                <small><span class="text-muted"><%= campaign.created_at.strftime("%b %d, %Y") %></span></small>
              </div>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div class="container-fluid mt-3 home-container">
  <h2 class="mb-3">BLOG POSTS</h2>  
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <%= link_to post_path(post), class:'link-dec' do %>
          <div class="home-blog">
            <div class="home-cmpgn-img" style="background:url('<%= post.image.url %>')"></div>
            <div class="blog-cntnt blog-title-h">
              <h3><%= post.title.truncate(50) %></h3>
              <p class="text-muted"><%= truncate(sanitize(post.description, tags: []), length: 80) %></p>
            </div>
            <br> 
            <hr>
            <div class="blog-meta">
              <small class="text-muted mr-3">Author: <%= post.user.username %></small>
              <small class="text-muted"><%= post.created_at.strftime("%b %d, %Y") %></small>
            </div>
          <br>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <center><%= link_to "More Posts", posts_path, class:'btn btn-primary btn-sm' %></center>
</div>