<div class="container-fluid mt-4 home-container">
  <div class="mb-4">
    <h3 class="text-muted blog-pge-hdr">BLOG POSTS</h3>  
    <%= link_to "New Post", new_post_path, class:"btn btn-primary btn-sm float-right" %>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <%= link_to post_path(post), class:'link-dec' do %>
          <div class="home-blog">
            <div class="home-cmpgn-img" style="background:url('<%= post.image.url %>')"></div>
            <div class="blog-cntnt blog-title-h">
              <h6><%= post.title %></h6>
              <small class="text-muted"><%= truncate(sanitize(post.description, tags: []), length: 80) %></small>
            </div>
            <hr>
            <div class="blog-meta">
              <small class="text-muted mr-3">Author: <%= post.user.username %></small>
              <small class="text-muted"><%= post.created_at.strftime("%b %d, %Y") %></small>
            </div>
          <br>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>