<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h1><%= @post.title %></h1>
        <p>By: <span class="text-muted"><%= @post.user.username %></span> / Created about <span class="text-muted"><%= time_ago_in_words(@post.created_at)%> ago</span> / <i class="far fa-comment-alt"> </i> Comments: <span class="text-muted"><%= @post.comments.count %></span></p> 
        <hr>
        <div>
          <%= image_tag(@post.image.url, class:'cmpgn-img') %>
          <p><%= raw(@post.description) %></p>
          <hr>
        </div>
      </div>
      <h6 class="mt-4"><i class="far fa-comment-alt"></i> Comments:</h6>
      <div id="comments">
        <% if user_signed_in? %>
          <%= render @comments %>
        <% else %>
          <small class="mark">You Need to LogIn First</small>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <span id="newcommentform">
          New Comment <%= render 'comments/form', post: @post.id %>
        </span>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4>Related Posts</h4>
      <% @posts.each do |post| %>
        <ul>
          <li>
            <%= link_to post_path(post) do %>
              <%= post.title %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>