<div class="container mt-3">
  <% if current_user.admin == true%>
    <h1>Listing the Projects of All Users</h1>
  <% else %>
    <h1>Listing All of Your Projects</h1>
  <% end %>
  <table id="campaigns" class="table table-bordered">
    <thead>
      <tr>
        <th>Project Title</th>
        <% if current_user.admin == true%>
          <th>Status</th>
          <th>Username</th>
        <% end %>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= campaign.title %></td>
          <% if current_user.admin == true  %>
            <td>
              <small class="text-muted"><%= campaign.status %></small>
              <% if campaign.status == 'prelaunch' %>
              | <%= link_to 'Launch', change_campaign_status_path(campaign), method: :put %>
              <% end %>
            </td>
            <td><%= campaign.user.username %></td>
          <% end %>
          <td><center><%= link_to '<i class="fas fa-eye"></i>'.html_safe, campaign_path(campaign) %></center></td>
          <td><center><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_campaign_path(campaign) %></center></td>
          <td><center><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, campaign_path(campaign), method: :delete, data: { confirm: 'Are You Sure?' } %></center></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.campaigns.count == 0 && current_user.admin == false %>
    <h5>You Don't have any Projects! Want to Create?</h5>
    <%= link_to 'Start a Project', new_campaign_path, class:'btn btn-primary btn-sm' %>
  <% end %>
</div>