<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col-md-2">
      <div class="compgn-user-bg">
        <% if @campaign.user.avatar.present? %>
          <center><%= image_tag(@campaign.user.avatar.url, class:'user-dmy') %></center>
        <% end %>
        <p class="mt-2 mb-0 text-center">By <%=  @campaign.user.username %></p>
        <center><small><%= time_ago_in_words(@campaign.created_at) %> ago</small></center>
      </div>
    </div>
    <div class="col-md-10 mb-3">
      <h3><%= @campaign.title  %></h3>
      <p><%= @campaign.blurb %></p>
    </div>
  </div>
</div>
<div class="container mb-3">
  <div class="row">
    <div class="col-md-8 mb-2">
      <%= image_tag(@campaign.image.url, class:'cmpgn-img') %>
    </div>
    <div class="col-md-4">
      <div class="cmpgn-top-right-side">
        <p class="mb-0 mt-2">Pledge Amount</p>
        <small class="text-muted">$<%= @campaign.pledge_amount %></small>
        <hr>
        <p class="mb-0 mt-2">Pledge Amount Per Person</p>
        <% @pledgeamountperpersonininteger = @campaign.pledge_amount/@campaign.no_of_participants %>
        <% @pledgeamountperperson = number_with_precision(@pledgeamountperpersonininteger, precision: 2) %>
        <small class="text-muted">$<%= @pledgeamountperperson %></small>
        <hr>
        <p class="mb-0">No of Participants</p>
        <small class="text-muted"><%= @campaign.no_of_participants  %></small>
        <hr>
        <p class="mb-0">Pledge Deadline</p>
        <small class="text-muted"><%= @campaign.pledge_deadline %></small>
        <hr>
        <% if current_user.admin == true  %>
          <p class="mb-0">Status</p>
          <small class="text-muted"><%= @campaign.status %></small>
        <% end %>
      </div>
      <% if @campaign.user.id != current_user.id %>
        <% if !@backerexist %>
          <button type="button" class="btn btn-primary btn-block mt-3" data-toggle="modal" data-target="#backModal">
            Back this Project
          </button>
        <% else %>
          <span class="mark">
            Congratulations <i class="fas fa-thumbs-up"></i> You BACKED this Project
          </span>
        <% end %>
      <% end %>
      <div class="modal fade" id="backModal" tabindex="-1" role="dialog" aria-labelledby="backModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="backModalLabel">Details of the Backing</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <p class="mark">Details of Payment</p>
                  <small class="text-muted">You Pledged for this Project <span class="border p-1 m-1">$<%= @pledgeamountperperson %></span></small><br>
                </div>
                <div class="col-md-6">
                  <p class="mark">Note:</p>
                  <small class="text-muted"><span class="border p-1 m-1">$1</span> deducted right now and the remaining amount divides on the milestones</small>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <p class="mark">Campaign Details</p>
                  <p>Title: <small class="text-muted"><%= @campaign.title %></small></p>
                  <p>Description: <small class="text-muted"><%= @campaign.blurb %></small></p>
                  <p>Total Milestones: <small class="text-muted border p-1"><%= @campaign.milestones.count %></small></p>
                  <% @remainingamount = @pledgeamountperpersonininteger - 1 %>
                  <% @remainingamountinfloat = number_with_precision(@remainingamount, precision: 2) %>
                  <p>Total Remaining Amount: <small class="text-muted border p-1">$<%= @remainingamountinfloat %> will be deduct during the milestones completion</small></p>
                  <% @eachmilestoneamountininteger = @remainingamount/@campaign.milestones.count %>
                  <% @eachmilestoneamount = number_with_precision(@eachmilestoneamountininteger, precision: 2) %>
                  <p>After each Milestone: <small class="text-muted border p-1">$<%= @eachmilestoneamount %> will be deduct</small></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <p class="mark">Click on the Proceed to Pledge this Project</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= simple_form_for @backer do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :campaign_id, value: @campaign.id %>
                <%= f.hidden_field :pledgeamountperperson, value: @pledgeamountperperson %>
                <%= f.hidden_field :eachmilestoneamount, value: @eachmilestoneamount %>
                <%= f.submit class:'btn btn-primary', value:'Proceed' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
	<nav>
    <div class="nav nav-tabs nav-fill cmpg-tab" id="nav-tab" role="tablist">
      <a class="nav-item nav-link cmpgn-tb active" id="nav-campaign-tab" data-toggle="tab" href="#nav-campaign" role="tab" aria-controls="nav-campaign" aria-selected="true">Campaign</a>
      <a class="nav-item nav-link cmpgn-tb" id="nav-milestone-tab" data-toggle="tab" href="#nav-milestone" role="tab" aria-controls="nav-milestone" aria-selected="false">Milestones</a>
      <a class="nav-item nav-link cmpgn-tb" id="nav-champion-tab" data-toggle="tab" href="#nav-champion" role="tab" aria-controls="nav-champion" aria-selected="false">Project Champion</a>
    </div>
	</nav>
</div>
<div class="container mt-3">
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-campaign" role="tabpanel" aria-labelledby="nav-campaign-tab">
      <div class="row">
        <div class="col-md-8">
          <p>
            <%= @campaign.description %>
          </p>
        </div>
        <div class="col-md-4">
    			<div class="cmpgn-right">
            <p class="mb-0">Location</p>
            <small class="text-muted"><%= @campaign.location %></small>
            <hr>
            <p class="mb-0">Goal</p>
            <small class="text-muted"><%= @campaign.goal %></small>
            <hr>
            <p class="mb-0">Category</p>
            <small class="text-muted" class='badge badge-primary'><%= @campaign.category.name %></small>
    			</div>
        </div>
      </div>
    </div>
		<div class="tab-pane fade" id="nav-milestone" role="tabpanel" aria-labelledby="nav-milestone-tab">
		  <%= @anchor %>
      <% @campaign.milestones.each_with_index do |milestone, index| %>
        <div class="card bg-light text-dark mt-3 mb-3">
          <div class="card-body">
            <h5 class="mb-0">
              Milestone <%= index + 1 %>
            <i class="fas fa-plus-square new-iplus mil-next<%= milestone.id %>"></i>
            </h5>
            <div class="mil-dec<%= milestone.id %>">
              <hr>
            	<div class="row">
                <div class="col-md-8">
                  <h3><%= milestone.title %></h3>
                  <p><%= milestone.description %></p>
                    <div id="demo<%= milestone.id %>" class="carousel slide mb-3" data-ride="carousel">
                      <div class="carousel-inner">
                        <% milestone.images.each_with_index  do |image, index| %>
                          <div class="carousel-item <%= "active" if index == 0 %>">
                            <%= image_tag(image.image.url) %>
                          </div>
                        <% end %>
                      </div>
                      <a class="carousel-control-prev" href="#demo<%= milestone.id %>" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#demo<%= milestone.id %>" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>
                    <%= video_tag((milestone.video.url), controls: '', width:"100%") %>
                  </div>
                  <div class="col-md-4">
                    <div class="cmpgn-right">
                      <p class="mb-0">Milestone Duration</p>
                      <small class="text-muted"><%= milestone.duration_limit %></small>
                      <small class="text-muted"><%= milestone.duration_type %></small>
                      <hr>
                      <p class="mb-0">Milestone Budget</p>
                      <small class="text-muted"><%= milestone.budget %></small>
                    </div>
                  </div>
              </div>
            </div>
  				</div>
  			</div>
      <% end %>
	  </div>
	  <div class="tab-pane fade" id="nav-champion" role="tabpanel" aria-labelledby="nav-champion-tab">
      <div class="row">
        <div class="col-md-8">
          <% if @campaign.projectchampionstatus == 'Disable' %>
            You, have to make a request to the Project Owner to Activate the <span class="badge badge-primary">Project Champion Feature</span>
          <% end %>
          <% if @campaign.projectchampionstatus == 'Activate' %>
            <% if @campaign.user.id != current_user.id %>
              <% if !@projectchampionsexist.present? %>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                  Become a Project Champion
                </button>
                <div id="demo" class="carousel slide mb-3 mt-3" data-ride="carousel">
                  <div class="carousel-inner">
                    <% @campaign.images.each_with_index  do |image, index| %>
                      <div class="carousel-item <%= "active" if index == 0 %>">
                        <%= image_tag(image.image.url) %>
                      </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
                <%= video_tag((@campaign.projectchampionvideo.url), controls: '', width:"100%") %>
              <% else %>  
                <span>Congratulations, You are a Project Champion of this Campaign.</span><br>
                <% @remainingamount = @projectchampionsexist.projectchampiontotalamount - @projectchampionsexist.projectchampionpaidamount %>
                <small>Remaining Amount Needed to Complete the Pledge: </small><strong class="badge badge-primary">$<%= @remainingamount %></strong><br>
                <small>Total Users You Invited </small><strong class="badge badge-primary"><%= current_user.userreferalcodemacth %></strong>
                <hr>
                <p class="text-muted mb-0">Note: <small>Remaining Amount will be Pledged by the Users you'll invite</small></p>
                <% @desc = "Campaign Title is:  " + @campaign.title + " My referal Code is:  " + current_user.referalcode + " and the Campaign link is : " %>
                <%= social_share_button_tag(@desc, :url => campaign_url(@campaign,referalcode: current_user.referalcode), desc: @desc ) %>
              <% end %>
            <% end %>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Project Champion Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for @projectchampion do |f| %>
                      <div class="row">
                        <div class="col-md-4">
                          <h6 class="mark">Total Amount you'll bring</h6>
                          <small>Project Champion Minimum Amount is: <span class="border p-1">$<%= @campaign.projectchampionminimumamount %></span></small>
                        </div>
                        <div class="col-md-8">
                          <%= f.input :projectchampiontotalamount, required: true, label: false, input_html: { class: 'form control form-control-sm min-value' }  %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-md-4">
                          <h6 class="mark">Amount to be paid by you</h6>
                        </div>
                        <div class="col-md-8">
                          <%= f.input :projectchampionpaidamount, required: true, label: false, input_html: { class: 'form control form-control-sm paid-by-you', min: 0 }  %>
                          <%= f.hidden_field :campaign_id, value: @campaign.id %>
                          <%= f.hidden_field :user_id, value: current_user.id %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <center><small class="mark">By Clicking Proceed, You Will be redirected to the Paypal Login Page!</small></center>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit class:'btn btn-primary', value:'Proceed' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="cmpgn-right pb-0">
            <p>Project Champion Feature is: <small class="badge badge-info"><%= @campaign.projectchampionstatus %></small></p>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
<div class="container my-3">
	<div class="col-md-6 mx-auto">
    <%= link_to "Back to Projects", campaigns_path, class:'btn btn-primary' %>
    <% if can? :update, @campaign %>
      <%= link_to "Edit Project", edit_campaign_path(@campaign), class:'btn btn btn-primary' %>
    <% end %>
    <% if can? :destroy, @campaign %>
      <%= link_to "Delete Project", campaign_path(@campaign), method: :delete, data: { confirm: 'Are You Sure?' }, class:'btn btn btn-danger' %>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function() {
    <% @campaign.milestones.each do |milestone| %>
      $(".mil-dec<%=milestone.id%>").hide();
        $(".mil-next<%=milestone.id%>").click(function(){
          $(".mil-dec<%=milestone.id%>").slideToggle("500");
          $("i", this).toggleClass("fas fa-plus-square fas fa-minus-square");
        })
    <%end%>
  });
  var minval = <%= @campaign.projectchampionminimumamount %>;
  $('.min-value').attr('min',minval);
  $('.min-value').focusout(function(){
    var totalval = $('.min-value').val();
    $('.paid-by-you').attr('max',totalval);
  });
  
  var anchor_value;
  var stripped_url = document.location.toString().split("#");
  if (stripped_url.length > 1){
    anchor_value = stripped_url[1];
    $('#' + anchor_value).addClass('active');
    $('#' + anchor_value).addClass('show');
    $('#nav-champion').addClass('active');
    $('#nav-champion').addClass('show');
    $('#nav-campaign').removeClass('active');
    $('#nav-campaign').removeClass('show');
    $('#nav-campaign-tab').removeClass('active');
    $('#nav-campaign-tab').removeClass('show');
  }
</script>