<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col-md-2">
      <div class="compgn-user-bg">
        <% if @campaign.user.avatar.present? %>
          <center><%= image_tag(@campaign.user.avatar.url, class:'user-dmy') %></center>
        <% else %>
          <center><img src="/user.png" class="user-dmy"></center>
        <% end %>
        <p class="mt-2 mb-0 text-center">By <%=  @campaign.user.username %></p>
        <center><small><%= time_ago_in_words(@campaign.created_at) %> ago</small></center>
        <!--<center>-->
        <!--  <%# if current_user != @campaign.user %>-->
        <!--    <%#= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, like_path(@campaign), method: :put, remote: true %> |-->
        <!--  <%# end %>-->
        <!--  <span class="likescount"><%#= @campaign.get_upvotes.size %> <small class="text-muted">likes</small></span>-->
        <!--</center>-->
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <h3><%= @campaign.title  %></h3>
      <p><%= @campaign.blurb %></p>
    </div>
    <div class="col-md-2">
      Share This Project
      <% @desc = "Campaign Title is:  " + @campaign.title + " My referal Code is:  " + current_user.referalcode + " and the Campaign link is : " %>
      <%= social_share_button_tag(@desc, :url => campaign_url(@campaign,referalcode: current_user.referalcode), desc: @desc ) %>
    </div>
  </div>
</div>
<div class="container mb-3">
  <div class="row">
    <div class="col-md-8 mb-2">
      <%= image_tag(@campaign.image.url, class:'cmpgn-img') %>
    </div>
    <div class="col-md-4">
      <div class="cmpgn-top-right-side">
        <p class="mb-0 mt-2">Pledge Amount</p>
        <p class="text-muted mb-0">$<%= @campaign.pledge_amount %></p>
        <hr>
        <p class="mb-0 mt-2">Pledge Amount Per Person</p>
        <p class="text-muted mb-0">$<%= @pledgeamountperperson %></p>
        <hr>
        <p class="mb-0">No of Participants</p>
        <p class="text-muted mb-0"><%= @campaign.no_of_participants  %></p>
        <hr>
        <p class="mb-0">Pledge Deadline</p>
        <p class="text-muted mb-0"><%= @campaign.pledge_deadline %></p>
        <hr>
        <% if current_user.admin == true  %>
          <p class="mb-0">Status</p>
          <p class="text-muted mb-0"><%= @campaign.status %></p>
        <% end %>
        <% if @campaign.featuredstatus == true %>
          <small class="badge badge-warning"><i class="fas fa-award"></i> FEATURED</small>
        <% end %>
      </div>
      <% if @campaign.user.id != current_user.id %>
        <% if !@backerexist %>
          <button type="button" class="btn btn-primary btn-block mt-3" data-toggle="modal" data-target="#backModal">
            Back this Project
          </button>
        <% else %>
          <span class="mark">
            Congratulations <i class="fas fa-thumbs-up"></i> You BACKED this Project
          </span>
        <% end %>
      <% end %>
      <!--Modal 1-->
      <div class="modal fade" id="backModal" tabindex="-1" role="dialog" aria-labelledby="backModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="backModalLabel">Pledge Information</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 class="ml-1">Campaign Details</h4>
              <p class="ml-1">Title: <small class="text-muted"><%= @campaign.title %></small></p>
              <p class="ml-1">Description: <small class="text-muted"><%= @campaign.blurb %></small></p>
              <hr>
              <h5 class="ml-1">The Amount You Pledge for this Project is $<%= @pledgeamountperperson %></h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#backModal2">Next</button>
            </div>
          </div>
        </div>
      </div>
      <!--Modal 2-->
      <div class="modal fade" id="backModal2" tabindex="-1" role="dialog" aria-labelledby="backModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="backModalLabel">Pledge Process Overview</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="ml-1">Total Milestones of this Campaign <%= @campaign.milestones.count %></p>
              <hr>
              <h4 class="ml-1">Amount Deduction</h4>
              <p class="ml-1">$1 will deduct right now, Remaining Amount $<%= @remainingamount %> will be deduct during the milestones completion </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#backModal">Back</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#backModal3">Next</button>
            </div>
          </div>
        </div>
      </div>
      <!--Modal 3-->
      <div class="modal fade" id="backModal3" tabindex="-1" role="dialog" aria-labelledby="backModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="backModalLabel">Become A Backer</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 class="ml-1">Proceed Instructions</h4>
              <p class="ml-1">By Clicking Proceed, Your Total Pledge Amount will be shown in The Paypal Checkout, but it only deducts $1</p>
              <h5 class="ml-1">After each Milestone Completion, $<%= @eachmilestoneamount %> will be deduct</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#backModal2">Back</button>
              <%= simple_form_for @backer do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :campaign_id, value: @campaign.id %>
                <%= f.hidden_field :pledgeamountperperson, value: @pledgeamountperperson %>
                <%= f.submit class:'btn btn-primary', value:'Proceed' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="container mt-5">
	<nav>
    <div class="nav nav-tabs nav-fill cmpg-tab" id="nav-tab" role="tablist">
      <a class="nav-item nav-link cmpgn-tb active" id="nav-campaign-tab" data-toggle="tab" href="#nav-campaign" role="tab" aria-controls="nav-campaign" aria-selected="true">Campaign</a>
      <a class="nav-item nav-link cmpgn-tb" id="nav-milestone-tab" data-toggle="tab" href="#nav-milestone" role="tab" aria-controls="nav-milestone" aria-selected="false">Milestones</a>
      <a class="nav-item nav-link cmpgn-tb" id="nav-champion-tab" data-toggle="tab" href="#nav-champion" role="tab" aria-controls="nav-champion" aria-selected="false">Project Champion</a>
      <a class="nav-item nav-link cmpgn-tb" id="nav-campaignreview-tab" data-toggle="tab" href="#nav-campaignreview" role="tab" aria-controls="nav-campaignreview" aria-selected="false">Reviews</a>
      <a class="nav-item nav-link cmpgn-tb" id="nav-updates-tab" data-toggle="tab" href="#nav-updates" role="tab" aria-controls="nav-updates" aria-selected="false">Updates</a>
    </div>
	</nav>
</div>
<div class="container mt-3">
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-campaign" role="tabpanel" aria-labelledby="nav-campaign-tab">
      <div class="row">
        <div class="col-md-8">
          <h3>Description</h3>
          <p><%= @campaign.description %></p>
          <hr>
          <h3>Risks & Challenges</h3>
          <% if @campaign.riskandchallenges.count > 0 %>
            <ul>
              <% @campaign.riskandchallenges.each do |risksandchallenge| %>
                <li><%= risksandchallenge.description %></li>
              <% end %>
            </ul>
          <% else %>
            <small class="mark">Nill</small>
          <% end %>
          <hr>
          <h3>Frequently Asked Questions</h3>
          <% if @campaign.faqs.count > 0 %>
            <% @campaign.faqs.each do |faq| %>
              <p> <i class="fas fa-arrow-right"></i> <%= faq.question %></p>
              <small class="mark"><%= faq.answer %></small>
              <hr>
            <% end %>
          <% else %>
            <small class="mark">Nill</small>
          <% end %>
          <h3>Community Help</h3>
          <p class="text-muted mb-0"><%= @campaign.askfromcommunity %></p>
        </div>
        <div class="col-md-4">
    			<div class="cmpgn-right">
            <p class="mb-0">Location</p>
            <p class="text-muted mb-0"><%= @campaign.location %></p>
            <hr>
            <p class="mb-0">Category</p>
            <p class="text-muted mb-0" class='badge badge-primary'><%= @campaign.category.name %></p>
    			</div>
        </div>
      </div>
    </div>
		<div class="tab-pane fade" id="nav-milestone" role="tabpanel" aria-labelledby="nav-milestone-tab">
		  <%= @anchor %>
      <% @campaign.milestones.each_with_index do |milestone, index| %>
        <div class="card bg-light text-dark mt-3 mb-3">
          <div class="card-body">
            <h5 class="mb-0">
              <%= milestone.title %>
            <i class="fas fa-plus-square new-iplus mil-next<%= milestone.id %>"></i>
            </h5>
            <div class="mil-dec<%= milestone.id %>">
              <hr>
            	<div class="row">
                <div class="col-md-8">
                  <h3><%= milestone.title %></h3>
                  <p><%= milestone.description %></p>
                    <div id="demo<%= milestone.id %>" class="carousel slide mb-3" data-ride="carousel">
                      <div class="carousel-inner">
                        <% milestone.images.each_with_index  do |image, index| %>
                          <div class="carousel-item <%= "active" if index == 0 %>">
                            <%= image_tag(image.image.url) %>
                          </div>
                        <% end %>
                      </div>
                      <a class="carousel-control-prev" href="#demo<%= milestone.id %>" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#demo<%= milestone.id %>" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>
                    <%= video_tag((milestone.video.url), controls: '', width:"100%") %>
                  </div>
                  <div class="col-md-4">
                    <div class="cmpgn-right">
                      <p class="mb-0">Milestone Duration</p>
                      <span class="text-muted mb-0"><%= milestone.duration_limit %></span>
                      <span class="text-muted mb-0"><%= milestone.duration_type %></span>
                      <hr>
                      <% if milestone.status == "Completed" %>
                        <p class="mb-0">Status: <span class="border border-success p-1">Completed</span></p>
                      <% else %>
                        <p class="mb-0">Status: <span class="border border-danger p-1">Not Completed</span></p>
                        <% if @campaign.user.id == current_user.id %>
                          <hr>
                          <center><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#milestoneupdate">
                            Mark as Complete
                          </button></center>
                          <div class="modal fade" id="milestoneupdate" tabindex="-1" role="dialog" aria-labelledby="milestoneupdateLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="milestoneupdateLabel">Post an Update for this Milestone</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <%= simple_form_for @milestoneupdate do |f| %>
                                    <div class="form-group row">
                                      <div class="col-md-12">
                                        <%= f.input :body, required: true, placeholder: 'Major Update for this Milestone', label: false, input_html: { class: 'form control' } %>
                                        <%= f.hidden_field :milestone_id, value: milestone.id %>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                      <%= f.submit 'Mark as Completed', class:'btn btn-primary btn-sm' %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
  				</div>
  			</div>
      <% end %>
	  </div>
	  <div class="tab-pane fade" id="nav-champion" role="tabpanel" aria-labelledby="nav-champion-tab">
      <div class="row">
        <div class="col-md-8">
          <% if @campaign.projectchampionstatus == 'Disable' %>
            You, have to make a request to the Project Owner to Activate the <span class="badge badge-primary">Project Champion Feature</span>
          <% end %>
          <% if @campaign.projectchampionstatus == 'Activated' %>
            <% if @campaign.user.id != current_user.id %>
              <% if !@projectchampionsexist.present? %>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                  Become a Project Champion
                </button>
                <div id="demo" class="carousel slide mb-3 mt-3" data-ride="carousel">
                  <div class="carousel-inner">
                    <% @campaign.images.each_with_index  do |image, index| %>
                      <div class="carousel-item <%= "active" if index == 0 %>">
                        <%= image_tag(image.image.url) %>
                      </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
                <%= video_tag((@campaign.projectchampionvideo.url), controls: '', width:"100%") %>
              <% else %>  
                <h3>Congratulations, You are a Project Champion of this Campaign.</h3><br>
                <% @remainingamount = @projectchampionsexist.projectchampiontotalamount - @projectchampionsexist.projectchampionpaidamount %>
                <span class="mb-0">Remaining Amount Needed to Complete the Pledge: </span><span class="badge badge-primary">$<%= @remainingamount %></span><br>
                <span class="mb-0">Total Users You Invited </span><span class="badge badge-primary"><%= current_user.userreferalcodemacth %></span>
                <hr>
                <p class="text-muted mb-0">Note: Remaining Amount will be Pledged by the Users you'll invite</p>
                <div id="socialsharebadge">
                  <%= social_share_button_tag(@desc, :url => campaign_url(@campaign,referalcode: current_user.referalcode), desc: @desc ) %>
                </div>  
              <% end %>
            <% end %>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Project Champion Form</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for @projectchampion do |f| %>
                      <center class="mb-3">Project Champion Minimum Amount is: <span class="border p-1">$<%= @campaign.projectchampionminimumamount %></span></center>
                      <div class="row">
                        <div class="col-md-3">
                          <label>Total Amount you'll bring</label>
                        </div>
                        <div class="col-md-9">
                          <%= f.input :projectchampiontotalamount, required: true, label: false, input_html: { class: 'form control form-control-sm min-value' }  %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label>Amount to be paid by you</label>
                        </div>
                        <div class="col-md-9">
                          <%= f.input :projectchampionpaidamount, required: true, label: false, input_html: { class: 'form control form-control-sm paid-by-you', min: 0 }  %>
                          <%= f.hidden_field :campaign_id, value: @campaign.id %>
                          <%= f.hidden_field :user_id, value: current_user.id %>
                        </div>
                      </div>
                      <center class="mb-3"><small>By Clicking Proceed, You Will be redirected to the Paypal Login Page!</small></center>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit class:'btn btn-primary', value:'Proceed' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="cmpgn-right pb-0">
            <p>Project Champion Feature is: <small class="badge badge-info"><%= @campaign.projectchampionstatus %></small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-campaignreview" role="tabpanel" aria-labelledby="nav-campaignreview-tab">
      <div class="row">
        <div class="col-md-12">
          <% if @reviews.count == 0 %>
            <small class="mark">No Campaign Reviews !</small>
          <% else %>
            <h5>Campaign Reviews</h5>
            <% @reviews.each do |review| %>
              <p><%= review.body %> | By <span class="mark"><%= review.user.username %></span> | about <%= time_ago_in_words(review.created_at) %> ago</p>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <% @backers.each do |backer| %>
            <% if current_user.id == backer.id %>
              <% if @reviews.count > 0 %>
                <% @reviews.each do |review| %>
                  <% if backer.user.id != review.user.id %>
                    <%= simple_form_for @campaignreview do |f| %>
                      <hr>
                      <label>Write a Review</label> 
                      <%= f.input :body, label: false %>
                      <%= f.hidden_field :user_id, value: backer.user.id %>
                      <%= f.hidden_field :campaign_id, value: @campaign.id %>
                      <%= f.submit %>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <%= simple_form_for @campaignreview do |f| %>
                  <hr>
                  <label>Write a Review</label> 
                  <%= f.input :body, label: false %>
                  <%= f.hidden_field :user_id, value: backer.user.id %>
                  <%= f.hidden_field :campaign_id, value: @campaign.id %>
                  <%= f.submit class: 'btn btn-primary btn-sm' %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-updates" role="tabpanel" aria-labelledby="nav-updates-tab">
      <div id="milestoneupdates">
        <h2>Updates for this Campaign</h2>
        <%= render @milestoneupdates %>
      </div>
      <% if @campaign.milestones.count > 0 %>
        <% if current_user.id == @campaign.user.id %>
          <%= simple_form_for @milestoneupdate, remote: true do |f| %>
            <div class="row">
              <div class="col-md-7">
                <label>Write an Update</label>
                <%= f.input :body, required: true, placeholder: 'Update of the Milestone', label: false, input_html: { class: 'form control', id: 'milestoneupdate_body1' } %>
              </div>
              <div class="col-md-5">
                <label class="mt-2">Select Milestone</label>
                <%= f.collection_select :milestone_id, @campaign.milestones, :id, :title, {}, { class: 'form-control form-control-lg' } %>
              </div>
              <div class="col-md-12">
                <%= f.submit 'Post Update', class:'btn btn-primary btn-sm' %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
	</div>
</div>
<% if @campaign.user.id != current_user.id %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="text-muted">Message <span class="mark"><%= @campaign.user.username %></span> to offer any help to this Campaign</span>
        <%= link_to @campaign.user.username, conversations_path(sender_id: current_user.id, receiver_id: @campaign.user.id), method: :post %>
      </div>
    </div>
  </div>
<% end %>
<div class="container my-3">
	<div class="row">
  	<div class="col">
      <%= link_to "Back to Projects", campaigns_path, class:'btn btn-primary btn-sm' %>
    </div>
    <div class="col">
      <% if can? :update, @campaign %>
        <%= link_to "Edit Project", edit_campaign_path(@campaign), class:'btn btn btn-primary btn-sm' %>
      <% end %>
    </div>
    <div class="col">
      <% if can? :destroy, @campaign %>
        <%= link_to "Delete Project", campaign_path(@campaign), method: :delete, data: { confirm: 'Are You Sure?' }, class:'btn btn btn-danger btn-sm' %>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    <% @campaign.milestones.each do |milestone| %>
      $(".mil-dec<%=milestone.id%>").hide();
        $(".mil-next<%=milestone.id%>").click(function(){
          $(".mil-dec<%=milestone.id%>").slideToggle("500");
          $("i", this).toggleClass("fas fa-plus-square fas fa-minus-square");
        })
    <% end %>
  });
  var minval = <%= @campaign.projectchampionminimumamount %>;
  $('.min-value').attr('min',minval);
  $('.min-value').focusout(function(){
    var totalval = $('.min-value').val();
    $('.paid-by-you').attr('max',totalval);
  });
  
  var anchor_value;
  var stripped_url = document.location.toString().split("#");
  if (stripped_url.length > 1){
    anchor_value = stripped_url[1];
    $('#' + anchor_value).addClass('active');
    $('#' + anchor_value).addClass('show');
    $('#' + anchor_value + '-tab').addClass('active');
    $('#' + anchor_value + '-tab').addClass('show');
    $('#nav-campaign').removeClass('active');
    $('#nav-campaign').removeClass('show');
    $('#nav-campaign-tab').removeClass('active');
    $('#nav-campaign-tab').removeClass('show');
    
  }
  
  $('#socialsharebadge').click(function(){
    $.ajax({url: "/badge/socialsharebadge", type: "POST"});
  });
  
</script>