<!DOCTYPE html>
<html>
  <head>
    <title>DollarLaunch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/fevicon.png" type="image/png" sizes="16x16">
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131186199-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-131186199-1');
      </script>
    <% end %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
    <% if notice %>
      <script type="text/javascript">
        toastr.success("<%= notice %>")
      </script>
    <% end %>
    <% if alert %>
      <script type="text/javascript">
        toastr.error("<%= alert %>")
      </script>
    <% end %>
    <%= yield %>
     <%= render 'layouts/footer' %>
  </body>
</html>
