<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Edit <%= resource_name.to_s.humanize %></h5>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <h5>Project Image</h5>
              <%= f.input :avatar, as: :file, label: false  %>
              <%= f.input :username, required: true, autofocus: true, input_html: { class: 'form control form-control-sm'  } %>
              <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form control form-control-sm'  } %>
              <%= f.input :biography, autofocus: true, input_html: { class: 'form control form-control-sm'  }  %>
              <%= f.input :websites, autofocus: true, input_html: { class: 'form control form-control-sm'  } %>
              <%= f.input :contact, autofocus: true, input_html: { class: 'form control form-control-sm'  } %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
              <%= f.input :password, hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password", class: 'form control form-control-sm'  } %>
              <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password", class: 'form control form-control-sm'  } %>
              <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password", class: 'form control form-control-sm'  } %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Update", class:'btn btn-primary btn-block btn-md'  %>
            </div>
          <% end %>
          <br>
          <span>Unhappy?</span>
          <center><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></center>
          <hr>
          <center><%= link_to "Back", :back  %></center>
        </div>
      </div>
    </div>
  </div>
</div>